<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeshDemoCalibrationBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MeshDemoCalibrationBoard.Properties.Settings>
            <setting name="instrumentType" serializeAs="String">
                <value>MT8870A</value>
            </setting>
            <setting name="GPIB" serializeAs="String">
                <value>TCPIP0::192.168.3.2::inst0::INSTR</value>
            </setting>
            <setting name="powerTransmit" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="filePathloss" serializeAs="String">
                <value />
            </setting>
            <setting name="NOM" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Frequencies" serializeAs="String">
                <value>2412,2437,2484,5170,5190,5230,5250,5310,5330,5490,5510,5590,5610,5735,5755,5815,5835</value>
            </setting>
        </MeshDemoCalibrationBoard.Properties.Settings>
    </userSettings>
</configuration>